docs/n8n-workflows/admin-portal/intake-sms.json
{
  "name": "Lumivara · Admin · Intake (sms)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lumivara-intake-sms",
        "responseMode": "responseNode"
      },
      "name": "Twilio webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const allowed = ($env['INTAKE_ALLOW_PHONES'] || '').split(',').map(s => s.trim()).filter(Boolean);\nconst from = $input.first().json.From || $input.first().json.from || '';\nif (allowed.length && !allowed.includes(from)) throw new Error('phone-not-allowlisted');\nconst body = $input.first().json.Body || $input.first().json.body || '';\nconst clientSlug = $env['INTAKE_DEFAULT_CLIENT'] || 'lumivara';\nreturn [{ json: { title: body.slice(0, 80), body, replyTo: from, clientSlug } }];"
      },
      "name": "Allow-list + normalise",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "model": "claude-opus-4-7",
        "messages": [
          {
            "role": "system",
            "content": "You are an issue-structurer for the Lumivara admin portal. Take the client's raw SMS and produce JSON with {title, body, suggestedLabels[]}. SMS bodies can be terse — extrapolate intent but always quote the raw text under '## Original request'."
          },
          { "role": "user", "content": "={{ $json.body }}" }
        ]
      },
      "name": "Structure with Claude",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "={{ $env['GITHUB_REPO'].split('/')[0] }}",
        "repository": "={{ $env['GITHUB_REPO'].split('/')[1] }}",
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}\\n\\n<!-- source=sms client={{ $('Allow-list + normalise').item.json.clientSlug }} reply={{ $('Allow-list + normalise').item.json.replyTo }} -->",
        "labels": "=source/sms,client/{{ $('Allow-list + normalise').item.json.clientSlug }},status/triage"
      },
      "name": "Create GitHub issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "from": "={{ $env['TWILIO_FROM_NUMBER'] }}",
        "to": "={{ $('Allow-list + normalise').item.json.replyTo }}",
        "message": "Got it. Track status: https://{{ $env['LUMIVARA_DOMAIN'] }}/admin/client/{{ $('Allow-list + normalise').item.json.clientSlug }}/request/{{ $json.number }}"
      },
      "name": "Twilio reply",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response></Response>",
        "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/xml" }] } }
      },
      "name": "Empty TwiML ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1280, 300]
    }
  ],
  "connections": {
    "Twilio webhook": { "main": [[{ "node": "Allow-list + normalise", "type": "main", "index": 0 }]] },
    "Allow-list + normalise": { "main": [[{ "node": "Structure with Claude", "type": "main", "index": 0 }]] },
    "Structure with Claude": { "main": [[{ "node": "Create GitHub issue", "type": "main", "index": 0 }]] },
    "Create GitHub issue": { "main": [[{ "node": "Twilio reply", "type": "main", "index": 0 }]] },
    "Twilio reply": { "main": [[{ "node": "Empty TwiML ACK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": ["lumivara", "admin-portal", "intake"]
}
